<div class="avatar-update">
  <p class="d-flex justify-content-center">Update image</p>
  <%= form_with model: @user, method: :patch, local: true do |f| %>
 <!---->
 
  <div class="d-inline-flex">
    <label class="btn btn-primary">
      Browse...
      <span style="display: none;">
        <%= f.file_field :avatar %>
      </span>
    </label>
  </div>
  <!---->
    <%#= f.file_field :avatar %>
    <%= f.submit "Update avatar", :class => "btn btn-primary" %>
  <% end %>
</div>