<div class="user-list">
  <h1 class="title">All Users</h1>
  <div class="users">
    <ul>
      <% @users.each do |user| %>
        
          <% unless user == current_user %>
            <li class="user">
              <% if user.avatar %>
                <% if user.avatar != nil %>
                  <%= image_tag user.avatar %>
                <% end %>
              <% end %>
              <%=link_to user.username, user_path(user) %> 
              <% unless current_user.friends.include?(user) || !FriendRequest.where({requester_id: current_user.id, user_id: user.id}).empty? %>
              | <%= link_to "Add friend", friend_requests_path(user_id: user.id), method: :post %>
              <% end %>
            <% end %>
          </li>
        
      <% end %>
    </ul>
  </div>
</div>