<div class="friend-requests">
  <h1 class="title">Friend Requests</h1>
  <% if @requests.empty? %>
    Nothing here...
  <% else %>
    <ul>
      <% @requests.each do |request| %>
        
          <li class="request"> 
            <%= link_to User.find(request.requester_id).username, user_path(request.requester_id) %> | 
            <%= link_to "Accept request", friendships_path(friend_id: request.requester_id), method: :post %>
          </li>
      
      <% end %>
    </ul>
  <% end %>
  </div>