<div class="new-post col-md-10 d-flex inline-flex align-items-center">
  <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar, class: "avatar-image mr-2" %>
  <% end %>
    
  <%= render 'post_form' %>     
</div>

<div class="timeline">
  <h3>Timeline:</h3>
  <%= render 'layouts/post_feed' %>
</div>
