<div class="home">
  <div class="new-post">
    <% if current_user.avatar %>
      <% if current_user.avatar != nil %>
        <%= image_tag current_user.avatar %>
      <% end %>
    <% end %>
    <%= render 'post_form' %>
  </div>
  <div class="timeline">
    <h3>Timeline:</h3>
    <%= render 'layouts/post_feed' %>
  </div>
</div>