<% if post.comments.any? %>
  <h4 class="title">Comments:</h4>
    <% post.comments.each do |comment| %>
      <div class="comment">
        <div class="comment-img">
        <% if comment.user.avatar %>
          <%= image_tag comment.user.avatar if comment.user.avatar != nil%>
        <% end %>
        </div>
        <div class="comment-content">
          <%= link_to comment.user.username, user_path(comment.user) %>
          <p><%= comment.content %></p>
        </div>
      </div>
  <% end %>
<% end %>